@model WebClient.Areas.Buhgalter.Models.AgentListModel

@{
    ViewData["Title"] = "Агенты";
}
<div class="text-center text-info">
    <h1>Агенты</h1>
</div>
@Html.ValidationMessageFor(model => model.FIO)
<form asp-action="Agent">
    <div class="form-inline">
        <label class="control-label">Поиск по ФИО: <br /></label>
        <input asp-for="FIO" /><br />
        <font size="2" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.FIO)
        </font>
        <br /><label class="control-label">Поиск по номеру: <br /></label>
        <input asp-for="Id" /><br />
        <font size="2" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.Id)
        </font>
        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Номер агента</td>
        <td>ФИО</td>
        <td>Оклад</td>
        <td>Комиссионные</td>
    </tr>
    @foreach (var agent in ViewBag.Agent)
    {
        <tr>
            <td>@agent.Id</td>
            <td>@agent.Name</td>
            <td>@agent.Oklad</td>
            <td>@agent.Comission</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Dogovor" asp-action="Dogovor" asp-route-fio="@agent.Name">Договора</a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Zarplata" asp-action="Zarplata" asp-route-id="@agent.Id">Рассчет зп</a>
            </td>
        </tr>
    }
</table>
