@model Database.Models.Dogovor
@{ ViewData["Title"] = "Изменение Договора"; }
<h3>Изменение договора @ViewBag.Id</h3>
<hr />
<div>
    <a class="text-dark" asp-action="Dogovor">Вернуться назад</a>
</div>
<hr />

<div class="row">
    <input type="datetime-local" name="calendar"
           max="2020-01-01" min="2021.01.01">
    <label class="control-label"> Сумма Договора: @ViewBag.Itog</label>
    <table class="table">
        <tr>
            <td>Надбавка</td>
            <td>Комментарий</td>
            <td>Объем груза</td>
            <td>Вес груза</td>
        </tr>
        @foreach (var reis in ViewBag.ReisDogovor)
        {
            @foreach (var r in reis.Dogovor_Reiss)
            {
                <tr>
                <td>@r.Value.Item3</td>
                <td>@r.Value.Item4</td>
                <td>@r.Value.Item5</td>
                <td>@r.Value.Item6</td>      
                <td>
                   <a class="btn btn-primary btn-sm" asp-action="ChangeReis" asp-route-id="@r.Value.Item3">Изменить</a>
                   @Html.ActionLink("Удалить", "Delete", new { id = r.Value.Item3 })
                </td>
                </tr>
             }
        }
    </table>
</div>