@model ClientViewModel
@{
    ViewData["Title"] = "Клиенты";
}
<div class="text-center text-info">
    <h1>Клиенты</h1>
</div>
@Html.ValidationMessageFor(model => model.Passport)
<form asp-action="Client">
    <div class="form-inline">
        <label class="control-label">Паспорт: </label>
        <input asp-for="Passport" class="form-control" />
        <label class="control-label">Номер договора </label>
        <input asp-for="DogovorId" class="form-control" min="0" />
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Паспорт</td>
        <td>ФИО</td>
        <td>Номер телефона</td>
        <td>Email</td>
    </tr>
    @foreach (var reis in ViewBag.client)
    {
        <tr>
            <td>@reis.Pasport</td>
            <td>@reis.ClientFIO</td>
            <td>@reis.PhoneNumber</td>
            <td>@reis.Email</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Dogovor" asp-route-id="@reis.Id">Договора</a>|
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Report", "Report")