@{
    ViewData["Title"] = "Клиенты";
}

<div class="text-left">
    <h4>Договора клиента @ViewBag.Client.ClientFIO</h4>
</div>
<p>
    <a class="btn btn-primary d-block mx-auto" asp-action="CreateDogovor">Создание договора</a>
</p>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Сумма</td>
        <td>Дата</td>
    </tr>
    @foreach (var dogovor in ViewBag.dogovors)
    {
        <tr>
            <td>@dogovor.Id</td>
            <td>@dogovor.Summa</td>
            <td>@dogovor.data</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="ChangeDogovor" asp-route-id="@dogovor.Id">Изменить</a>|
            </td>
        </tr>
    }
</table>