@model DatabaseImplement.Models.Dogovor
@{ ViewData["Title"] = "Изменение Договора"; }
<h3>Изменение договора @ViewBag.Id</h3>
<hr />
<div>
    <a class="btn btn-primary btn-sm" asp-controller="Dogovor" asp-action="Dogovor" asp-route-id="@ViewBag.ClientId">Вернуться назад</a>
</div>
<hr />
<p>
    <a class="btn btn-primary" asp-controller="Reis" asp-action="ChangeReis" asp-route-dogovorId="@ViewBag.Id" asp-route-clientid="@ViewBag.ClientId"> Добавить рейс</a>
</p>
<div class="row">
    <label class="control-label"> Дата заключения договора : @ViewBag.Data</label>
    <label class="control-label"> Сумма Договора: @ViewBag.Itog</label>
    <table class="table">
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Время</td>
            <td>Объем груза</td>
            <td>Вес груза</td>
            <td>Комментарий</td>
        </tr>
        @foreach (var reis in ViewBag.Reis)
@foreach (var reisd in ViewBag.ReisDogovor)
{
@foreach (var r in reisd.Dogovor_Reiss)
{
    if (r.Value.Item2 == reis.Id)
    {
        if (@r.Value.Item6 / @r.Value.Item5 > 250)
        {
    <tr>
        <td>@reis.Name</td>
        <td>
        </td>
        <td>@(@r.Value.Item3 + @reis.Cena* @r.Value.Item7)</td>
        <td>@(@r.Value.Item4+@reis.Time)</td>
        <td>@r.Value.Item5</td>
        <td>@r.Value.Item6</td>
        <td>@r.Value.Item4</td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id = r.Key, dogovotId = ViewBag.Id })
        </td>
    </tr>
}
        else
        {
    <tr>
        <td>@reis.Name</td>
        <td>@(@r.Value.Item3 + @reis.Cena* @r.Value.Item6)</td>
        <td>@(@r.Value.Item4+@reis.Time)</td>
        <td>@r.Value.Item5</td>
        <td>@r.Value.Item6</td>
        <td>@r.Value.Item4</td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id = r.Key, dogovotId = ViewBag.Id })
        </td>
    </tr>}

                        }
                    }}
    </table>
</div>