
@{
    ViewData["Title"] = "Перевозки";
}
@model WebClient.Areas.Agent.Models.SpisokModel
<div class="text-center text-info">
    <h1>Перевозки</h1>
</div>
<font size="5" color="red" face="Arial">@Html.ValidationMessageFor(model => model.Raion)</font>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Район: </label>
        @Html.DropDownList("raion", Model.Raion as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <label class="control-label"> Цена От </label>
        @Html.EditorFor(model => model.Cena1)
        <font size="5" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.Cena1)
        </font>
        <label class="control-label">До </label>
        @Html.EditorFor(model => model.Cena2)
        <font size="5" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.Cena2)
        </font>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Пункт отправления</td>
        <td>Пункт прибытия</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Длительность в днях</td>
    </tr>
    @foreach (var reis in ViewBag.reiss)
    {
<tr>
    @foreach (var raion in ViewBag.Raions)
    {
        @if (reis.OfId == raion.Id)
        {
            <td>@raion.Name</td>
        }
        @if (reis.ToId == raion.Id)
        {

            <td>@raion.Name</td>
        }
    }
    <td>@reis.Name</td>
    <td>@reis.Cena</td>
    <td>@reis.Time</td>
</tr>
            }
        </table>
