<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawStacked);

function drawStacked() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Score');
    data.addColumn('number', 'Количевство Грузоперевозок');
   foreach(var r in @ViewBag.reiss) {
        data.addRows([
            ["CPass", 3]
        ]);
    }
      data.addRows([
      ['CPass ', 6],
      ['CFail ', 3],
      ['WPass ', 0],
      ['WFail ', 0],
      ['HPass ', 5],
      ['HFail ', 2],
      ['APass ', 0],
      ['AFail ', 0]

      ]);

      var options = {
          title: 'Грузоперевозки по районам',
        isStacked: true,
        hAxis: {
            title: 'Районы',

        },
        vAxis: {
            title: 'Количевство Грузоперевозок'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }</script>

@{
    ViewData["Title"] = "Перевозки";
}
@model WebClient.Areas.Agent.Models.SpisokModel
<div class="text-center text-info">
    <h1>Перевозки</h1>
</div>
<font size="5" color="red" face="Arial">@Html.ValidationMessageFor(model => model.Raion)</font>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Район: </label>
        @Html.DropDownList("raion", Model.Raion as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <label class="control-label"> Цена От </label>
        @Html.EditorFor(model => model.Cena1)
        <font size="5" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.Cena1)
        </font>
        <label class="control-label">До </label>
        @Html.EditorFor(model => model.Cena2)
        <font size="5" color="red" face="Arial">
            @Html.ValidationMessageFor(model => model.Cena2)
        </font>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Пункт отправления</td>
        <td>Пункт прибытия</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Длительность в днях</td>
    </tr>
    @foreach (var reis in ViewBag.reiss)
    {
<tr>
    @foreach (var raion in ViewBag.Raions)
    {
        @if (reis.OfId == raion.Id)
        {
            <td>@raion.Name</td>
        }
        @if (reis.ToId == raion.Id)
        {

            <td>@raion.Name</td>
        }
    }
    <td>@reis.Name</td>
    <td>@reis.Cena</td>
    <td>@reis.Time</td>
</tr>
            }
        </table>
@Html.ActionLink("Diagram", "Diagram")
<div id="chart_div"></div>