
@{ ViewData["Title"] = "Личный кабинет"; }

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>

<p>Имя: @ViewBag.Agent.Name</p>
<p>Оклад: @ViewBag.Agent.Oklad</p>
<p>Процент комиссионных: @ViewBag.Agent.Comission</p>
<p>Комиссионные за договора: @ViewBag.Zarplata</p>
<p>Суммарная стоимость договоров: @ViewBag.Zarplata1</p>

<form method="get">
    <div class="form-inline">
        @Html.ListBox("Month",
                                    new MultiSelectList(new string[] { "Январь", "Февраль", "Март", "Апрель"
                , "Май", "Июнь", "Июль"
                , "Август", "Сентябрь", "Октябрь"
                , "Ноябрь", "Декабрь"}))
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>


