@{
    ViewData["Title"] = "Перевозки";
}
@model SpisokModel
<div class="text-center text-info">
    <h1>Перевозки</h1>
</div>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Район: </label>
        @Html.DropDownList("raion", Model.Raion as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <label class="control-label">От </label>
        @Html.EditorFor(model => model.Cena1)

        <label class="control-label">До </label>
        @Html.EditorFor(model => model.Cena2)

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Пункт отправления</td>
        <td>Пункт прибытия</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Длительность</td>
    </tr>
    @foreach (var reis in ViewBag.reiss)
    {
        <tr>
            <td>@reis.OfId</td>
            <td>@reis.ToId</td>
            <td>@reis.Name</td>
            <td>@reis.Cena</td>
            <td>@reis.Time</td>
            <td>

                @Html.ActionLink("Удалить", "Delete", new { id = reis.Id })
            </td>
        </tr>
    }
</table>