@model WebClient.Areas.Agent.Models.SpisokClientViewModel
@{
    ViewData["Title"] = "Клиенты";
}

<div class="text-left">
    <h4>Договора клиента @ViewBag.Client.ClientFIO</h4>
</div>
<p>
    <a class="btn btn-primary d-block mx-auto" asp-action="ChangeDogovor" asp-route-clientid="@ViewBag.ClientId">Создание договора</a>
</p>
@Html.ValidationMessageFor(model => model.Passport)
<form asp-action="Dogovor">
    <div class="form-inline">
        <label class="control-label">Номер договора </label>
        <input asp-for="DogovorId" class="form-control" min="0" />
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Сумма</td>
        <td>Дата</td>
    </tr>
    @foreach (var dogovor in ViewBag.dogovors)
    {
        <tr>
            <td>@dogovor.Id</td>
            <td>@dogovor.Summa</td>
            <td>@dogovor.data</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="ChangeDogovor" asp-route-id="@dogovor.Id" asp-route-clientid="@ViewBag.ClientId">Изменить</a>|
            </td>
        </tr>
    }
</table>