@model WebClient.Areas.Agent.Models.RegistrationModel

@{
    ViewData["Title"] = "Добавление клиента";
}

<div class="text-left text-info">
    <h1>@ViewData["Title"]</h1>
</div>
@using (Html.BeginForm("AddClient", "Client"))
{
    <p>
        Фио:<br>
        @Html.TextBoxFor(x => x.ClientFIO)<br>
        Email: <br>
        @Html.TextBoxFor(x => x.Email)<br>
        Паспорт:<br>
        @Html.TextBoxFor(x => x.Pasport)<br>
        Телефон:<br>
        @Html.TextBoxFor(x => x.PhoneNumber)<br>
    </p>
    @Html.ValidationSummary(true, "", new { @style = "color: blue" })
    <input type="submit" value="Зарегистрировать" class="btn btn-info btn-sm" />

}
